POSTGRES_DB=itmodd
POSTGRES_USER=itmodd
POSTGRES_PASSWORD=itmodd_password
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

DATABASE_CONNECTION_STRING=Host=localhost;Port=5432;Database=itmodd;Username=itmodd;Password=itmodd_password
